<section id="Filtro-ordenamiento-centrado">
  <section class="filter-order">
    <select class="form-select pointer" aria-label="Default select example">
      <option selected>Filtrar peliculas</option>
      <option value="Ciencia-Ficción">Ciencia Ficción</option>
      <option value="Terror">Terror</option>
      <option value="Romanticas">Romanticas</option>
    </select>
  </section>

  <section class="filter-order">
    <select class="form-select pointer" aria-label="Default select example">
      <option selected>Ordenar peliculas</option>
      <option value="Tendencia">Tendencia</option>
      <option value="Taquillera">Taquillera</option>
      <option value="Reconocimiento">Reconocimiento</option>
    </select>
  </section>
</section>