<section id="Filtro-ordenamiento-centrado">
  <section class="filter-order">
    <select class="form-select pointer" aria-label="Default select example" (change)="onGenreChange($event)">
      <option [selected]="selectedGenre == ''" value="">Filter by genres</option>      
      <option [selected]="selectedGenre == '28'" value="28">Acción</option>
      <option [selected]="selectedGenre == '12'" value="12">Aventura</option>
      <option [selected]="selectedGenre == '16'" value="16">Animación</option>
      <option [selected]="selectedGenre == '878'" value="878">Ciencia Ficción</option>
      <option [selected]="selectedGenre == '35'" value="35">Comedia</option>
      <option [selected]="selectedGenre == '80'" value="80">Crime</option>
      <option [selected]="selectedGenre == '99'" value="99">Documental</option>
      <option [selected]="selectedGenre == '18'" value="18">Drama</option>
      <option [selected]="selectedGenre == '14'" value="14">Fantasia</option>
      <option [selected]="selectedGenre == '36'" value="36">Historia</option>
      <option [selected]="selectedGenre == '10749'" value="10749">Romance</option>
      <option [selected]="selectedGenre == '27'" value="27">Terror</option>
    </select>
  </section>

  <section class="filter-order">
    <select class="form-select pointer" aria-label="Default select example" (change)="onSortingChange($event)">
      <option [selected]="selectedSorting == ''" value="">Sort by</option>
      <option [selected]="selectedSorting == 'popularity.asc'" value="popularity.asc">Popularidad ascendente</option>
      <option [selected]="selectedSorting == 'popularity.desc'" value="popularity.desc">Popularidad descendente</option>
      <option [selected]="selectedSorting == 'vote_average.asc'" value="vote_average.asc">Votación promedio ascendente</option>
      <option [selected]="selectedSorting == 'vote_average.desc'" value="vote_average.desc">Votación promedio descendente</option>
      <option [selected]="selectedSorting == 'primary_release_date.asc'" value="primary_release_date.asc">Fecha de estreno ascendente</option>
      <option [selected]="selectedSorting == 'primary_release_date.desc'" value="primary_release_date.desc">Fecha de estreno descendente</option>
    </select>
  </section>
</section>