
@import url(../../../styles.scss);


header {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--color-background-primario);
  color: var(--color-fuente);
}
