<section>
  <div>
    <h2 id="titulo">Titulo: {{ peliculaDetalles.title }}</h2>
    <img *ngIf="peliculaDetalles.poster_path !== null" [src]="imagenes + peliculaDetalles.poster_path"
      alt="{{ peliculaDetalles.title }}" />
    <img *ngIf="peliculaDetalles.poster_path === null" src="./../../../assets/img/imagen_error_photo.jpg" />
  </div>
  <div>   
    <p>Genero: {{ peliculaDetalles.genres[0].name }}</p>
    <p *ngIf="peliculaDetalles.release_date; else noReleaseDate">Fecha de estreno: {{ peliculaDetalles.release_date |
      date: 'dd-MM-yyyy' }}</p>
    <ng-template #noReleaseDate>Fecha de estreno: N/A</ng-template>
    <p>Promedio de votación: {{ peliculaDetalles.vote_average }}</p>
    <p>Total votos: {{peliculaDetalles.vote_count}}</p>
    <p style="word-wrap: break-word; max-width: 1700px"> Descripcion: {{ peliculaDetalles.overview }}</p>
  </div>
</section>

<app-footer></app-footer>