* {
  margin: 0;
  padding: 0;

}

section {


  width: 100%;
  height: 100%;

}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
  width: 100%;
  height: 100%;


}

.forma {
  width: 21%;
  height: auto;
  border: 4px solid blue;
  border-radius: 10px 10px 10px 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: rgb(12, 10, 10);
  box-sizing: border-box;
  margin: 16px;

}



img {
  width: 200px;
  height: 300px;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 5px;
  border: 3px solid greenyellow;

}


.parrafo{
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  color: white;
  text-align: center;
  margin-top: 5px;


}
.pointer {cursor: pointer;}