ul,
.pagination {

  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;  
  background-color: rgb(97, 38, 38);
}

.page-link {
  width: 100px;
  text-align: center;
}