<!-- paginacion -->
<nav aria-label="Page navigation example" class="pointer">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" (click)="anterior()">Anterior</a></li>
    <li class="page-item"><a class="page-link" (click)="cambioPagina(1)">1</a></li>
    <li class="page-item"><a class="page-link" (click)="cambioPagina(2)">2</a></li>
    <li class="page-item"><a class="page-link" (click)="cambioPagina(3)">3</a></li>
    <li class="page-item"><a class="page-link" (click)="cambioPagina(4)">4</a></li>
    <li class="page-item"><a class="page-link" (click)="cambioPagina(5)">5</a></li>
    <li class="page-item"><a class="page-link" (click)="siguiente()">Siguiente</a></li>
  </ul>
</nav>