
#Filtro-ordenamiento-centrado{
  display: flex;
  align-items: center;
  justify-content: center; 
  margin-top: 10px;
  
}

.filter-order{
  width: 11%;
  height: 40px; 
}

option{
  text-align: center;
  margin-left: 5px;
}